*{
    image-resolution: 720px;

}
body {
    overflow-x: hidden;
}

.top-section {
    background-image: url("images/zomato-background.webp");
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 10px;

}
.hoverclass
{
    transition: all .2s ease-in-out;
}
.hoverclass:hover{
    transform: scale(1.1);
}
.navstyling {
    font-size: 20px;
}

.nav-brand-style {
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 80px;
    margin-top: -40px;

}

.zomatosymbol {
    font-size: 60px;
    font-weight: 900;
    font-style: italic;

}

.input-control-first-col {
    width: 25%;
}

.drop {
    position: absolute;
    top: 10px;
    left: 10px;

}

.drop img {
    display: none;
}

.toggle-navbar {
    position: absolute;
    top: 10px;
    left: 20px;
    display: none;

}

.toogle-imges{
    width: 30px;

}


.togle-menu-symbol {
    font-weight: 900;
    font-style: italic;
    color: rgb(1, 1, 1);
    font-size: 34px;
    display: none;

}

.activate {
    background: none;
    border: none;
}

.hedingvoerflow h4 {
    font-family: Arial, Helvetica, sans-serif;

}

.intput-g {

    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    height: 60px;
    overflow: hidden;
    align-items: center;
    align-content: center;
    padding: 0 10px;
    column-gap: 5px;
}

.first-input {
    flex-basis: 30%;
    width: 100%;
    position: relative;


}

.first-input input {
    width: 100%;

    padding-left: 25px;
    border: none;

}

.first-input img {
    position: absolute;
    margin-top: 25px;
    left: 5px;
    

}

.second-input {
    flex-basis: 70%;
    width: 100%;
    position: relative;




}

.second-input input {
    width: 100%;

    padding-left: 25px;
    border: none;
}



.second-input img {
    position: absolute;
    left: 5px;
    top: 40%;
}

.cad-places {
    height: 6rem;
    box-shadow: 0px 1px 1px rgb(0, 0, 0, .2);
    overflow: hidden;
}

.cad-places div p {
    font-size: 27px !important;
}
.emailinput
{
    display: none !important;
}

.phoninput
{
   display: none !important;
}

.collapse-text-link
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    

}
.collapse-text-link:hover{
    color: black;
}
.dot-separator::before
{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    bottom: 3px;
    margin: 0 5.5px;
    
   
}
.ixplicit-form:focus::placeholder
{
    color:rgba(0, 0, 0, 0.532);
    font-size: 12px;
    position: relative;
    bottom: 12px;
    transition: all .3s ease-in-out;
}
.tabletype-text a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.701);
    overflow: hidden;
}



/* media query at large--------------------------------------- */
@media (max-width :992px) {

    .navcontainer .max-width ul {
        z-index: -1;
    }

    .nav-brand-style {
        display: none;

    }

    .toggle-navbar {
        position: absolute;
        top: 10px;
        left: 20px;
        display: block;
        z-index: 999;
        cursor: pointer;

    }

    .top-section {
        background-image: url("images/zomato-background.webp");
        height: 55vh;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 10px;
    }

    .max-width {
        position: absolute;
        top: 0;

        left: -600px;
        width: inherit;
        height: 90vh;
        background-color: rgb(255, 248, 248);
        z-index: -40;
        transition: all .3s ease-in-out;


    }

    .togle-menu-symbol {
        font-weight: 900;
        position: absolute;
        top: 20px;
        right: 30px;
        display: block;
        z-index: 999;


    }

    .max-width ul {

        display: flex !important;
        flex-direction: column !important;
        position: absolute;

        gap: 10px !important;
        margin-top: 100px;
    }

    .max-width ul a {
        color: black !important;
    }

    .activate:focus~.max-width {

        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: 90vh;
        background-color: rgb(255, 248, 248);
        z-index: 50;
        cursor: pointer;
    }

    .card-heding {
        font-size: 16px;
    }

    .card-contend {
        font-size: 12px;
    }

    .input-group-input::placeholder {
        font-size: 16px;
    }

    .hedingvoerflow h4 {
        font-size: 10px;
    }

    .hedingvoerflow {
        overflow: hidden;
        width: 100%;
        height: 10px;
    }

    .cad-places {
        height: 8rem;

    }
    .cad-places div p {
        font-size: 24px !important;
    }
    .tabletype-text a
    {
        font-size: 17px !important;
    }
    .tabletype-text
    {
        line-height: 16px !important;
    }
    .store
    {
        width: 150px !important;
        height: 40px !important;
    }
    .top-section {
        background-image: url("images/zomato-background.webp");
        height: 55vh;
     
        background-position-x: center;

        min-width: 10px;
        
    
    }

}

/* 1100 ----------------------- media query  above---------------------------- */
@media (max-width :1108px) {
    .nav-brand-style {
        position: relative;
        margin-left: 0px;

    }
    .button-size
    {
        font-size: 10px !important;
        
    }
    .button-size img
    {
        width: 10px !important;
        height: 5px !important;
    }

}

/* media query at extra small----------------------------------------------------- */
@media (max-width :576px) {
    .card-heding {
        font-size: 14px;
    }

    .card-contend {
        font-size: 10px;
    }
    .cad-places div p {
        font-size: 20px !important;
    }
    .store
    {
        width: 50px !important;
        height: 23px !important;
        
    }
    .button-size
    {
        font-size: 10px !important;
        
    }
    .button-size img
    {
        width: 10px !important;
        height: 5px !important;
    }

}


/* media query at 1400------------------- */
@media (min-width :992px) and (max-width:1400px) {

    .hedingvoerflow h4 {
        font-size: 19px;
    }

    .hedingvoerflow {
        overflow: hidden;
        width: 100%;
        height: 20px;
    }
    

}